/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3c08ae;
  --ifm-color-primary-dark: #36079d;
  --ifm-color-primary-darker: #330794;
  --ifm-color-primary-darkest: #2a067a;
  --ifm-color-primary-light: #4209bf;
  --ifm-color-primary-lighter: #4509c8;
  --ifm-color-primary-lightest: #4e0ae2;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #bf76ff;
  --ifm-color-primary-dark: #ae51ff;
  --ifm-color-primary-darker: #a53eff;
  --ifm-color-primary-darkest: #8b06ff;
  --ifm-color-primary-light: #d09bff;
  --ifm-color-primary-lighter: #d9aeff;
  --ifm-color-primary-lightest: #f3e6ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

[data-theme='dark'] .partie {
  background-color:#282828;
border-radius: 6px;
padding: 1em;
margin-left: 1em;
margin-bottom: 1em;
box-shadow: 5px 5px 5px 0px rgba(200,200,200,0.25);
}

[data-theme='light'] .partie {
  background-color: #f5f5f5;
border-radius: 6px;
padding: 1em;
margin-left: 1em;
margin-bottom: 1em;
box-shadow: 5px 5px 5px 0px rgba(20,20,20,0.25);
}


img[src*="#printscreen"] {

  border: 1px solid black;
  box-shadow: 5px 5px 5px grey;
}

iframe, object, embed {
  max-width: 100%;
  max-height: 100%;
  display:block;
  margin: auto;
}

img[src*="#droite"] {
  float: right;
}

img[src*="#gauche"] {
  float: left;
  margin-right: 10px;
  
}

img[src*="#abc"] {
  margin-right: 10px;
  vertical-align: text-bottom;
  border: 1px solid black;
  box-shadow: 5px 5px 5px grey;
  
}

p:has(img[src*="#centrer"]) {
  text-align: center;
}

h6 {
  text-align: right;
}

.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
